//Color Variables
$black: #282A2B;
$white: #fff;
$blue: #3e73cb;
$grey1: #444444;
$grey2: #727272;
$grey3: #b8b4b4;
$grey4: #f2f2f4;
$grey5: #F0F0F0;
$grey6: #ebebeb;
$purple: #663291;

$red: #e90e0a;
//Theme colors
$text_color: $grey2;
$primary_color: $purple;
$secondary_color: $red;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .5s;
//Fonts
$header-font: 'Arial','Helvetica', sans-serif;
$body-font: 'Arial','Helvetica', sans-serif;