@import "vars.scss";
@import "mixins.scss";
#home {
  #hero-section {
    .hero-grid {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 2rem;
      @include bp-large {
        flex-flow: row wrap;
      }
      .hero-col {
        width: 50%;
        @include bp-large {
          width: 100%;
          
        }  
        &.text-col {
          .hero-text {
            margin-bottom: 1rem;
          }
          .hero-cta {
            font-weight: 700;
          }
        }
        &.image-col {
          max-width: 512px;
          margin: auto;
          .hero-slider {
            
            .hero-slide {
              position: relative;
              
              &-text {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $purple;
                color: $white;
                padding: 1rem;
              }
              &-image {
                object-fit: cover;
                height: 100%;
                width: 100%;
                
              }
            }
          }
        }
      }
    }
  }
  #about-section {
    .about-grid {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 2rem; 
      align-items: center;
      @include bp-large {
        grid-template-columns: 1fr;
      }
      .about-col {
        &.text-col {
          .about-text {
            margin-bottom: 1rem;
          }
          .about-cta {
            font-weight: 700;
          }
        }
        &.image-col {
          img {
            @include bp-large {
              max-width: 200px;
            }
            
          }
        }
      }
    }
  }
  #news-section {
    .articles-list {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 2rem;
      @include bp-large {
        grid-template-columns: repeat(2,1fr);
      }
      @include bp-medium {
        grid-template-columns: repeat(1,1fr);
      }
      .article-link {
        font-weight: 700;
      }
    }
  }
  #reviews-section {
    .reviews-list {
      max-width: 650px;
      margin: auto;
      .review {
        text-align: center;
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
        .client-logo {
          max-height: 100px;
          
        }
        .review-text {
          font-style: italic;
          font-size: 20px;
          margin: 2rem 0 1rem;
          color: $grey1;
        }
        .review-client {
          text-align: right;
        }
        .review-link {
          text-align: right;
          font-weight: 700;
        }
      }
    }
  }
  #clients-section {
    .clients-grid {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      align-items: center;
      justify-content: center;
      gap: 2rem;
      .client-logo {
        max-width: 160px;
        max-height: 120px;
      }
      @include bp-large {
        grid-template-columns: repeat(3,1fr);
      }
      @include bp-medium {
        grid-template-columns: repeat(2,1fr);
      }
      @include bp-small {
        grid-template-columns: repeat(1,1fr);
      }  
    }
  }
}