---
slider: true
css: home
scripts:
  - home
clients:
  title: Our Clients
layout: default
permalink: /
about:
  title: Nancy Brodovsky
  text: Nancy Brodovsky is passionate about supporting northern California's civic
    growth. This passion was developed, nurtured and grown through her active
    participation as a nonprofit board member and board chair. She gained
    valuable experience through her active involvement in numerous local,
    regional and national non profit organizations for thirty-five years. Her
    large personal and professional network enables her to connect the right
    people with boards that are providing meaningful services in our
    communities.
  image: /assets/images/NancyBrodovsky-small-new.jpg
  cta:
    text: More About Nancy
    link: /about-us/about-the-founder/
content-id: home
news:
  title: SacConnects in the News
  articles:
    - title: Board Recruitment and Development, and Breast Cancer Awareness
      outlet: Money 105.5FM; Beyond the Numbers
      link: https://www.youtube.com/watch?v=pg-ipyxj2xU&ab_channel=MarkBellows
    - title: 20 Years of American Leadership Forum
      outlet: KVIE Studio Sacramento
      link: https://vids.kvie.org/video/2365892111/
    - title: People on the Move
      outlet: Sacramento Business Journal
      link: https://www.bizjournals.com/sacramento/potmsearch/detail/submission/5408672/Nancy_Brodovsky
    - title: Perpectives on Leadership
      outlet: Sacramento Business Journal
      link: https://www.sacconnects.net/home/perpectives-on-leadership-1-1/
    - title: Comstock Magazine
      outlet: Be A Batter Board Member
      link: https://www.comstocksmag.com/article/be-better-board-member
title: Home Page
hero:
  title: Welcome to SacConnects
  text: Your destination for premium board and association recruitment and board
    effectiveness guidance.
  cta:
    text: About SacConnects
    link: /about-us/what-is-sacconnects/
  images:
    - src: /assets/images/linkedin-sales-solutions-qbDiSp5IqxA-unsplash.jpg
      alt: two professional women talking at a standup desk in an office setting
      text: SacConnects brings the right people to the table to make things happen!
    - src: /assets/images/cowomen-cKQkMFzXHAI-unsplash.jpg
      alt: a group of three professional women meeting around a table
      text: SacConnects matches your executives to the right boards!
reviews:
  title: What Our Clients Say
  list:
    - client: susan-g-komen-sac-valley
    - client: red-rover
    - client: nehemiah-community-foundation
    - client: ddso
    - client: city-year
    - client: sara
    - client: uc-davis-mind-institute
    - client: test-client
---
<section id="hero-section">
  <div class="inner-section">
    <div class="hero-grid">
      <div class="hero-col text-col">
        <h1 class="hero-title">{{ page.hero.title }}</h1>
        <div class="hero-text">{{ page.hero.text }}</div>
        <a href="{{ page.hero.cta.link }}" class="hero-cta">{{ page.hero.cta.text }} »</a>
      </div>
      <div class="hero-col image-col">
        <div class="swiper hero-slider">
          <div class="swiper-wrapper">
            {% for image in page.hero.images  %}
            <div class="swiper-slide hero-slide">
              <img src="{{ image.src | resize: '512x' }}" alt="{{ image.alt }}"class="hero-slide-image" />
              <div class="hero-slide-text">{{ image.text }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include separator.html %}
<section id="about-section"> 
  <div class="inner-section">
    <div class="about-grid">
      <div class="about-col image-col">
        <img src="{{ page.about.image | resize: '400x' }}" alt="headshot of Nancy Brodovsky"/>
      </div>
      <div class="about-col text-col">
        <h2 class="section-title about-title">{{ page.about.title }}</h2>
        <div class="about-text">{{ page.about.text }}</div>
        <a class="about-cta" href="{{ page.about.cta.link }}">{{ page.about.cta.text }} »</a>
      </div>
    </div>
    
  </div>
</section>
{% include separator.html %}
<section id="news-section">
  <div class="inner-section">
    <h2 class="section-title news-title">{{ page.news.title }}</h2>
    <div class="articles-list">
      {% for article in page.news.articles %}
      <div class="article">
        <a class="article-link large" href="{{ article.link }}">{{ article.title }}</a>
        <div class="article-outlet">{{ article.outlet }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include separator.html %}
<section id="reviews-section">
  <div class="inner-section">
    <h2 class="section-title quotes-title">
      {{ page.reviews.title }}
    </h2>
    <div class="reviews-list">
      {% for item in page.reviews.list %}
      {%- capture client-id -%}/clients/{{item.client}}{% endcapture %}
      {% assign client = site.clients | where: 'id', client-id | first %} 
      <div class="review">
        {% if client.logo and client.logo.size > 0 %}
        {% if client.logo contains '.svg'%}
        <img class="client-logo" src="{{ client.logo }}" alt="{{ client.name }} logo"/> 
        {% else %}
        <img class="client-logo" src="{{ client.logo | resize: '250>x120>' }}" alt="{{ client.name }} logo"/> 
        {% endif %}
        {% endif %}
        <div class="review-text">
          {% capture review %}
          {% if client.review.excerpt and client.review.excerpt.size > 0 %}
          {{ client.review.excerpt | append: '...' }}
          {% else %}
          {% assign review-text = client.review.text | split: '.' %}
          {% if review-text[0].size < 30 %}
          {{ client.review.text | truncate: 130, '...' }}
          {% else %}
          {{ review-text[0] | append: '.' }}
          {% endif %}
          {% endif %}
          {% endcapture %}
          &ldquo;{{ review | strip }}&rdquo;
        </div>
        <div class="review-client large">&ndash; {{ client.title }}</div>
        <div class="review-link">
          <a href="/what-people-are-saying/?client={{ client.title | url_encode }}" aria-label="Read the entire review from {{ review.title }}">Read more »</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include separator.html %}
<section id="clients-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.clients.title }}</h2>
    <div class="clients-grid">
      {% for client in site.clients %}
      {% if client.logo and client.logo.size > 0 %}
      <div class="client-col">
        <a class="client-link" href="{{ client.site }}">
          {% if client.logo contains '.svg'%}
          <img class="client-logo" src="{{ client.logo }}" alt="{{ client.name }} logo"/> 
          {% else %}
          <img class="client-logo" src="{{ client.logo | resize: '160>x120>' }}" alt="{{ client.name }} logo"/> 
          {% endif %}
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
