{% assign nav = site.data.nav %}
<nav id="top-nav">
  <div class="nav-body">
    <div class="nav-col nav-left">
      <a href="/" aria-label="Home page">
        <img src="/{{ nav.logo | resize: 'x50>'}}" alt="SacConnects logo" class="nav-logo" />
      </a>
    </div>
    <div class="nav-col nav-right">
      <div class="mobile-menu-toggle">
        <div class="toggle-line top"></div>
        <div class="toggle-line middle"></div>
        <div class="toggle-line bottom"></div>
      </div>
      <div class="nav-links">
        {% for link in nav.links %}
        <div class="link-item large">
          {% if link.submenu and link.submenu.size > 0 %}
          
          <a href="#" class="nav-link submenu-toggle">{{ link.title }} <span class="toggle-arrow"> {% include svg/chevron-right-solid.svg %}</span></a> 
          <div class="submenu">
            
            {% for link in link.submenu %}
            
            {% capture page-id %}_pages/{{ link.url }}.md{% endcapture %}
            {% assign link-item = site.pages | where: 'path', page-id | first %}
            
            <div class="submenu-item">
              <a class="submenu-link" href="{{ link-item.url }}">{{ link-item.title }}</a>
            </div>
            {% endfor %}
          </div>
          {% elsif link.custom-link and link.custom-link.size > 0 %}
          <a href="{{ link.custom-link }}" class="nav-link">{{ link.title }}</a>
          {% else %}
          
          {% capture page-id %}_pages/{{ link.url }}.md{% endcapture %}
          <!-- {{ page-id }} -->
          {% assign link-item = site.pages | where: 'path', page-id | first %}

          <a href="{{ link-item.url }}" class="nav-link">{{ link.title }}</a>
          {% endif%}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>