---
layout: default
---
<section id="hero-section">
  <div class="inner-section">
    <div class="hero-grid">
      <div class="hero-col text-col">
        <h1 class="hero-title">{{ page.hero.title }}</h1>
        <div class="hero-text">{{ page.hero.text }}</div>
        <a href="{{ page.hero.cta.link }}" class="hero-cta">{{ page.hero.cta.text }} »</a>
      </div>
      <div class="hero-col image-col">
        <div class="swiper hero-slider">
          <div class="swiper-wrapper">
            {% for image in page.hero.images  %}
            <div class="swiper-slide hero-slide">
              <img src="{{ image.src | resize: '512x' }}" alt="{{ image.alt }}"class="hero-slide-image" />
              <div class="hero-slide-text">{{ image.text }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include separator.html %}
<section id="about-section"> 
  <div class="inner-section">
    <div class="about-grid">
      <div class="about-col image-col">
        <img src="{{ page.about.image | resize: '400x' }}" alt="headshot of Nancy Brodovsky"/>
      </div>
      <div class="about-col text-col">
        <h2 class="section-title about-title">{{ page.about.title }}</h2>
        <div class="about-text">{{ page.about.text }}</div>
        <a class="about-cta" href="{{ page.about.cta.link }}">{{ page.about.cta.text }} »</a>
      </div>
    </div>
    
  </div>
</section>
{% include separator.html %}
<section id="news-section">
  <div class="inner-section">
    <h2 class="section-title news-title">{{ page.news.title }}</h2>
    <div class="articles-list">
      {% for article in page.news.articles %}
      <div class="article">
        <a class="article-link large" href="{{ article.link }}">{{ article.title }}</a>
        <div class="article-outlet">{{ article.outlet }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include separator.html %}
<section id="reviews-section">
  <div class="inner-section">
    <h2 class="section-title quotes-title">
      {{ page.reviews.title }}
    </h2>
    <div class="reviews-list">
      {% for item in page.reviews.list %}
      {%- capture client-id -%}/clients/{{item.client}}{% endcapture %}
      {% assign client = site.clients | where: 'id', client-id | first %} 
      <div class="review">
        {% if client.logo and client.logo.size > 0 %}
        {% if client.logo contains '.svg'%}
        <img class="client-logo" src="{{ client.logo }}" alt="{{ client.name }} logo"/> 
        {% else %}
        <img class="client-logo" src="{{ client.logo | resize: '250>x120>' }}" alt="{{ client.name }} logo"/> 
        {% endif %}
        {% endif %}
        <div class="review-text">
          {% capture review %}
          {% if client.review.excerpt and client.review.excerpt.size > 0 %}
          {{ client.review.excerpt | append: '...' }}
          {% else %}
          {% assign review-text = client.review.text | split: '.' %}
          {% if review-text[0].size < 30 %}
          {{ client.review.text | truncate: 130, '...' }}
          {% else %}
          {{ review-text[0] | append: '.' }}
          {% endif %}
          {% endif %}
          {% endcapture %}
          &ldquo;{{ review | strip }}&rdquo;
        </div>
        <div class="review-client large">&ndash; {{ client.title }}</div>
        <div class="review-link">
          <a href="/what-people-are-saying/?client={{ client.title | url_encode }}" aria-label="Read the entire review from {{ review.title }}">Read more »</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include separator.html %}
<section id="clients-section">
  <div class="inner-section">
    <h2 class="section-title">{{ page.clients.title }}</h2>
    <div class="clients-grid">
      {% for client in site.clients %}
      {% if client.logo and client.logo.size > 0 %}
      <div class="client-col">
        <a class="client-link" href="{{ client.site }}">
          {% if client.logo contains '.svg'%}
          <img class="client-logo" src="{{ client.logo }}" alt="{{ client.name }} logo"/> 
          {% else %}
          <img class="client-logo" src="{{ client.logo | resize: '160>x120>' }}" alt="{{ client.name }} logo"/> 
          {% endif %}
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
