---
layout: default
---
<section id="reviews-section">
  <div class="inner-section">
    {% assign clients = site.clients | sort: 'title' %}
    {% for client in clients  %}
    {% if client.review.text and client.review.text != '' %}
    {% assign review = client.review %}
    <div class="review" data-review="{{ client.title }}">
      <a href="{{client.site}}">
        {% if client.logo and client.logo.size > 0 %}
        {% if client.logo contains '.svg' %}
        <img class="review-logo" src="{{ client.logo }}"/>
        {% else %}
        <img class="review-logo" src="/{{ client.logo | resize: '250>x120>' }}"/>
        {% endif %}
        {% else %}
        <div class="review-client heading-2">{{ client.title }}</div>
        {% endif %}
      </a>
      <div class="review-text">
        
        {{ review.text | append: "&rdquo;" | prepend: "&ldquo;" | markdownify }}
      </div>
      <div class="review-source">
        {%- if review.source.name and review.source.name.size > 0 -%}
        <span class="review-source-name">{{ review.source.name }}</span>
        {%- endif -%}
        {%- if review.source.title and review.source.title.size > 0 -%}
        , <span class="review-source-title">{{ review.source.title }}</span>
        {%- endif -%}
        <div class="review-source-org">
          {% if review.source.org and review.source.org.size > 0 %}
          {{ review.source.org }}
          {% else %}
          {{ client.title }}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>